*{
    margin: 0;
    padding: 0;
}


.top{

    background-color:chocolate;
    opacity:0.8;
    border: 3px solid green;

}

#navi{
    text-align: right;
}

#main{
    margin: 0px 0px;
    height: 1000px;
    background-image:url("123.webp") ;
    background-position: center;
    background-size: cover;
   
}
