

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    

    
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: left;
    margin-right: 10px;
  }

  
  .navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
  }
  
  .navbar li a:hover {
    background-color: #d8de28;
    color: #333;
  }
  
  .section {
    height: 900px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("img2.jpg");
  }
  .section1{
   
    height: 1000px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("3.jpg");
    background-size: cover;
    background-position: center;
  }
  .section2{
   
    height: 1000px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("9.jpg");
    background-size: cover;
    background-position: center;
  }
  .section3{
   
    height: 1000px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("img2.jpg");
  } .section4{
   
    height: 1000px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("img2.jpg");
  } .section5{
   
    height: 1000px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("3.jpg");
  }
  
  
  .background-image {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 100vh;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .button {
    display: inline-block;
    background-color: #d8de28;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .project img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  